<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/style.css" rel="stylesheet" type="text/css" />
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <script src="/jquery-3.3.1.min.js"></script>
        <script src="/bootstrap.min.js"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{{ url('characters_list') }}">Marvel Characters</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <a style="color: #ffffff;" class="nav-link link" href="{{ url('characters_list') }}">Liste des héros</a>
                <a style="color: #ffffff;" class="nav-link link" href="{{ url('comics_list') }}">Liste des comics</a>
            </div>
        </nav>
        <div class="content">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
